# Python/Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Workflow-generated outputs
*.csv
*.seq
*.ps

# Generated FASTA files
payload_plusstrand.fasta
payload_minusstrand.fasta
plusstrand.fasta
rc_minusstrand.fasta
revcomp_minusstrand.fasta

# Generated plots
*.png
*.pdf
*.tiff

# Misc
.DS_Store
.vscode/
*.log